<% include partials/_header %>

<div class="container">

  <div class="col">
    <!--FORM-->
    <div class="mx-auto text-cente" style="width: 600px;">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="marca" placeholder="marca" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="precio" placeholder="precio" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="material" placeholder="material" required>
            </div>
            <div class="form-group">
              <select name="tipo" id="tipo" >
                <option value="bolsa de mano">bolsa de mano</option>
                <option value="bolsa de mano">billetera</option>
                <option value="bolsa de mano">cartera grande</option>
                <option value="bolsa de mano">cartera pequeña</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="mx-auto text-cente">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N° de Cartera</th>
            <th>marca</th>
            <th>precio</th>
            <th>material</th>
            <th>tipo</th>
            <th>acciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= tasks[i].marca %></strong></td>
              <td><%= tasks[i].precio %></td>
              <td><%= tasks[i].material %></td>
              <td><%= tasks[i].tipo %></td>
              <td>
                <a href="/delete/<%= tasks[i]._id %>"
                  class="btn btn-danger">
                  Eliminar
                </a>
                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
                  Editar
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

